# version: "3.9"

services:
  db:
    image: mysql:8
    container_name: dbfranken
    restart: always
    tty: true
    volumes:
      - basisdata:/var/lib/mysql
    ports:
      - "33068:3306"
    env_file:
      - .env
    networks:
      - laravel-franken
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 5
    

  redis:
    image: redis:7-alpine
    container_name: redisfranken
    restart: always
    volumes:
      - redisdata:/data
    networks:
      - laravel-franken

  appfranken:
    user: root
    build: .
    image: appfranken
    container_name: appfranken
    restart: unless-stopped
    tty: true
    env_file:
      - .env
    ports:
      - "8080:8000"
    volumes:
      - .:/app
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - laravel-franken

  queue:
    image: appfranken
    container_name: franken_queue
    restart: always
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=90 --max-jobs=500
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - laravel-franken
    depends_on:
      - db

networks:
  laravel-franken:
    driver: bridge

volumes:
  basisdata:
    driver: local
  redisdata:
    driver: local
  caddy_data:
  caddy_config:
